header(
  class=`header ${isLoggedIn ? `header--logged` : ''}`
)
  .header__wrapper
    a(class=`header__logo logo` href= path && path === `/` ? false : `/`)
      img(src=`/img/logo.svg` width=`179` height=`34` alt=`Логотип Куплю Продам`)
    nav.header__user-menu
      ul.header__list
        li(class=`header__item ${(path && path === `/my`) ? `header__item--active` : ''}`)
          a(href= path && path === `/my` ? false : `/my`) Публикации
        li(class=`header__item ${(path && path === `/my/comments`) ? `header__item--active` : ''}`)
          a(href= path && path === `/my/comments` ? false : `/my/comments`) Комментарии
    include ../common/search-item
    a(class=`header__avatar avatar` href=`#`)
      img(src=`${currentUser.image}` srcset=`/${currentUser.retina} 2x` alt=`Аватар пользователя`)
    a(class=`header__input` href=`${isLoggedIn ? `/offers/add` : `/register`}`) Вход и регистрация
