ul.categories-list__wrapper
  each val in categories
    li.categories-list__item
      a(href=`/offers/category/${val.id}` class=`category-tile ${path && path === `/` ? `category-tile--default` : ``} ${pathId && pathId === val.id ? `category-tile--active` : ``}`)
        span.category-tile__image
          +categoryImage(val)
        span.category-tile__label= `${val.name} `
          span.category-tile__qty.js-qty= val.count
