li(class=`tickets-list__item ${(path && path === `/my`) ? `js-card` : ``}`)
  div(class= `ticket-card ticket-card--color${val.picture}`)
    .ticket-card__img
      img(src= `/img/item${val.picture}.jpg` srcset= `/img/item${val.picture}@2x.jpg 2x` alt=`Изображение товара`)
    .ticket-card__info
      +ticketLabel(val.type)
      .ticket-card__categories
        each cat in val.category
          a(href=`#`)= cat
      .ticket-card__header
        h3.ticket-card__title
          a(href=`/offers/${val.id}`)= val.title
        p.ticket-card__price.
          #[span(class=`js-sum`)= val.sum.toLocaleString(`ru-Ru`)] ₽
      .ticket-card__desc
        p= val.description
    if (path && path === `/my`)
      button(class=`ticket-card__del js-delete` type=`button`) Удалить
