.ticket__content
  .ticket__img
    if offer.picture
      img(src= `/img/${offer.picture}` alt=`Изображение товара`)
    else
      .ticket__img
  .ticket__info
    h2.ticket__title= offer.title
    .ticket__header
      p.ticket__price.
        #[span(class=`js-sum`)= offer.sum.toLocaleString(`ru-Ru`)] ₽
      p.ticket__action= `${offer.type === `BUY` ? `Куплю` : offer.type === `SELL` ? `Продам` : `Не знаю` }`
    .ticket__desc
      p= offer.description
    .ticket__data
      p
        b Дата добавления:&#x20;
        span= new Date(offer.createdAt).toLocaleDateString('ru-RU')
      p
        b Автор:&#x20;
        //a(href=`#`)= offer.author.name
      p
        b Контакты:&#x20;
        //a(href=`mailto:${offer.author.email}`)= offer.author.email
    ul.ticket__tags
      each category in offer.categories
        li
          a(href=`/offers/category/${category.id}` class=`category-tile category-tile--small`)
            span.category-tile__image
              +categoryImage(category)
            span.category-tile__label= category.title
